.svg-ic_collections_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 33.333333333333336% 0 no-repeat;
}

.svg-ic_collections_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_content_paste_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 33.333333333333336% 66.66666666666667% no-repeat;
}

.svg-ic_content_paste_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_format_bold_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 0 33.333333333333336% no-repeat;
}

.svg-ic_format_bold_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_format_indent_decrease_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 33.333333333333336% 33.333333333333336% no-repeat;
}

.svg-ic_format_indent_decrease_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_format_indent_increase_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 66.66666666666667% 0 no-repeat;
}

.svg-ic_format_indent_increase_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_format_italic_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 66.66666666666667% 33.333333333333336% no-repeat;
}

.svg-ic_format_italic_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_format_list_bulleted_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 0 66.66666666666667% no-repeat;
}

.svg-ic_format_list_bulleted_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_format_list_numbered_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 0 0 no-repeat;
}

.svg-ic_format_list_numbered_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_grid_on_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 66.66666666666667% 66.66666666666667% no-repeat;
}

.svg-ic_grid_on_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_link_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 100% 0 no-repeat;
}

.svg-ic_link_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_redo_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 100% 33.333333333333336% no-repeat;
}

.svg-ic_redo_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_undo_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 100% 66.66666666666667% no-repeat;
}

.svg-ic_undo_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_unlink_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 0 100% no-repeat;
}

.svg-ic_unlink_black_48px-dims {
	width: 48px;
	height: 48px;
}

.svg-ic_web_black_48px {
	background: url(svg/sprite.css-91e42f37.svg) 33.333333333333336% 100% no-repeat;
}

.svg-ic_web_black_48px-dims {
	width: 48px;
	height: 48px;
}

