.wym_skin_default
  
  .wym_area_left,wym_area_right
    display none
    display block
  h2
    font-size 110%
  h3
    font-size 100%
  li
    font-size 100%
  .wym_buttons li
    float:left
    
  :after
    content "."
    display block
    height 0
    clear both
    visibility hidden
  
  
